@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{ font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: #200038 !important;
}
.one {
    background-color: #FFE500;
    border-radius: 15px;
    font-style: bold;
    width: 65px;
    text-align: center;
}