/* body {
    font-family: 'Montserrat', sans-serif;
}

label, input, textarea {
    display: block;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    /*background-color: #f8f8f8;*/
    /* resize: none;
  }
  input[type=text], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #979797;
    border-radius: 25px;
    box-sizing: border-box;
}


.submit {
    border-radius: 25px;
    text-transform: uppercase;
    padding: 9px 49px;
    background: #2D0051;
    margin: 0 auto;
    color: #fff;
    border: none;
    display: flex;
}

.form {
    padding: 5% 3%;
    width: 28%;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.link {
    text-decoration: none;
    color: #2D0051;
}

.password{
    text-align: right;
}

.register{
    text-align: right;
    /* padding-top: 90px; */
/* } */


 */ 
 body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
 }
 .fa{
    top: 39px;
    left: 10px;
     position: relative;
     /* display: inline-block; */
 }
 .glyphicon{
     left: 90%;
     top: -40px;
     /* position: relative; */
 }
 input[type=password], input[type=email] {
   width: 100%;
   display: block;
   padding: 12px 30px;
   margin: 8px 0;
   border: 1px solid #979797;
   border-radius: 25px;
   box-sizing: border-box;
 }
 .submit {
   border-radius: 25px;
   text-transform: uppercase;
   padding: 9px 49px;
   background: #2D0051;
   margin: 0 auto;
   color: #fff;
   border: none;
   display: flex;
   cursor: pointer;
 }
 .form {
   padding: 5% 3%;
   width: 28%;
   background: #fff;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   border-radius: 25px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .link {
   text-decoration: none;
   color: #2D0051;
   cursor: pointer;
 }
 .password{
   text-align: right;
 }
 .register{
   text-align: right;
   /* padding-top: 90px; */
 }
