:root {
	width: 100vw;
	height: 100vh;

	/*Setting global variables here.*/
	--primary-color: #2D0051;
	--secondary-color: rgb(219, 198, 2);
	--primary-color-dark: #200038;
}

body {
  margin: 0;
	padding: 0;
	position: relative;
	width: 100vw;
	height: 100vh;
}

a {
	text-decoration: none;
	color: var(--primary-color);
	cursor: pointer;
}