body {
    font-family: Arial, Helvetica, sans-serif;
}
.card{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
         width: 40%;
         border-radius: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        text-align: center;
        transform: translate(-50%, -50%)
}
.content{
    font-size: 20px;}
    img{
        width: 10%;
        height: 10%;
		}
		
.fa-icon {
	font-size: 120px;
	color: rgb(1, 128, 29);
	text-align: center;
	padding: 10%;
}
