body {
		font-family: Arial, Helvetica, sans-serif;
		position: relative;
		height: 100vh;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 40vw;
	height: 70%;
	border-radius: 20px;
	position: absolute;
	top: 55%; /*Extra 5% to account for titlebar*/
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	display: flex;
	justify-content: center;
	align-content: center;
}
		
.card__icon {
	font-size: 1000%;
	color: #200038;
	text-align: center;
	margin-bottom: 20px;
}

.card__content {
	font-size: 2rem;
}

@media (max-width: 500px) {
	.card {
		width: 85vw;
		padding: 0 10px;
	}

	.card__icon {
		font-size: 800%;
	}
}
