body {
		font-family: Arial, Helvetica, sans-serif;
		position: relative;
		height: 100vh;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 40vw;
	height: 70%;
	padding: 0 10px;
	border-radius: 20px;
	position: absolute;
	top: 55%; /*Extra 5% to account for titlebar*/
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	display: flex;
	justify-content: center;
	align-content: center;
}
		
.card__icon {
	font-size: 1000%;
	color: var(--primary-color-dark);
	text-align: center;
	margin-bottom: 20px;
}

.card__content {
	font-size: 2rem;
	line-height: 1em;
	margin-bottom: 20px;
}

.card__content span {
	color: rgba(0, 0, 0, 0.6);
	display: block;
	margin-top: 5px;
	font-weight: 600;
}

.card__footer {
	font-size: 1.2rem;
	line-height: 1em;
	color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 500px) {
	.card {
		width: 90vw;
		height: 80%;
	}

	.card__icon {
		font-size: 600%;
	}

	.card__content {
		font-size: 1.7rem;
	}
}
